@use '../../flat-colors' as colors;

.wrapper {
    background-color: colors.$flat-wet-asphalt  !important;
    color: colors.$flat-amethyst;
    overflow: hidden;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
	width: 100vw;
    height: 100vh;
}