<div class="container">
    <div class="row justify-content-start align-items-strech min-height-30">
        <div class="col-md-6 dark-border p-4 green">
            <div class="row d-flex justify-content-start align-items-center mt-4 mb-4">
                <div class="col-md">
                    <h1> Lorem ipsum dolor sit amet consectetur</h1>
                </div>
            </div>
            <div class="row d-flex justify-content-between align-items-center mt-4 mb-4">
                <div class="col-md">
                    <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fugit saepe sed fuga officia nulla officiis ipsa ratione voluptas! Dolorem consectetur, delectus eveniet labore soluta iusto sit odio quibusdam rem! </h4>
                </div>
            </div>
            <div class="row d-flex justify-content-end align-items-center mt-4 mb-4">
                <div class="col-md-3">
                    <button class="btn btn-outline-dark custom-btn">Lorem</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 dark-border no-left-border white p-4">
            <div class="row d-flex justify-content-start align-items-center mt-4 mb-4">
                <div class="col-md">
                    <h1> Lorem ipsum dolor sit amet consectetur</h1>
                </div>
            </div>
            <div class="row d-flex justify-content-between align-items-center mt-4 mb-4">
                <div class="col-md">
                    <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fugit saepe sed fuga officia nulla officiis ipsa ratione voluptas! Dolorem consectetur, delectus eveniet labore soluta iusto sit odio quibusdam rem! </h4>
                </div>
            </div>
            <div class="row d-flex justify-content-end align-items-center mt-4 mb-4">
                <div class="col-md-3">
                    <button class="btn btn-outline-dark custom-btn">Lorem</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-start align-items-strech min-height-30">
        <div class="col-md-6 dark-border no-top-border white p-4">
            <div class="row d-flex justify-content-start align-items-center mt-4 mb-4">
                <div class="col-md">
                    <h1> Lorem ipsum dolor sit amet consectetur</h1>
                </div>
            </div>
            <div class="row d-flex justify-content-between align-items-center mt-4 mb-4">
                <div class="col-md">
                    <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fugit saepe sed fuga officia nulla officiis ipsa ratione voluptas! Dolorem consectetur, delectus eveniet labore soluta iusto sit odio quibusdam rem! </h4>
                </div>
            </div>
            <div class="row d-flex justify-content-end align-items-center mt-4 mb-4">
                <div class="col-md-3">
                    <button class="btn btn-outline-dark custom-btn">Lorem</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 dark-border no-left-border no-top-border p-4 purple">
            <div class="row d-flex justify-content-start align-items-center mt-4 mb-4">
                <div class="col-md">
                    <h1> Lorem ipsum dolor sit amet consectetur</h1>
                </div>
            </div>
            <div class="row d-flex justify-content-between align-items-center mt-4 mb-4">
                <div class="col-md">
                    <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fugit saepe sed fuga officia nulla officiis ipsa ratione voluptas! Dolorem consectetur, delectus eveniet labore soluta iusto sit odio quibusdam rem! </h4>
                </div>
            </div>
            <div class="row d-flex justify-content-end align-items-center mt-4 mb-4">
                <div class="col-md-3">
                    <button class="btn btn-outline-dark custom-btn yellow">Lorem</button>
                </div>
            </div>
        </div>
    </div>
</div>