@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.container {
    font-family: 'Roboto Mono';
    color: #222f3e;
}

.green {
    background-color: #1dd1a1;
}

.custom-btn {
    background: #fff;
    border-radius: 100vw;
    min-width: 7rem;
    border: 0.1rem solid #222f3e;
    box-shadow: 0.2rem 0.2rem 0 0.1rem #222f3e;
}

.custom-btn:hover {
    background: #222f3e;
    color: #fff;
}

.dark-border {
    border: 0.1rem solid #222f3e;
}

.min-height-30 {
    min-height: 30rem;
}

.white {
    background: #fff
}

.no-left-border {
    border-left: none;
}

.no-top-border {
    border-top: none;
}

.purple {
    background: #5f27cd;
    color: #feca57;
}

.yellow-btn {
    background: #feca57;
}

.yellow-btn:hover {
    color: #feca57;
}

h1 {
    font-weight: 600;
}

.yellow {
    background: #feca57;
}

.dashboard {
    width: 35rem;
    min-height: 25rem;
    background: #fff;
    border: 0.1rem solid #222f3e;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem 0 0.2rem #222f3e;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.item {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid #222f3e;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0 0 #222f3e;
}

.pink {
    background: #ff9ff3;
}

.red {
    background: #ff6b6b;
}

.blue {
    background: #48dbfb;
}

.dashed-border {
    border: 0.15rem dashed #222f3e;
    box-shadow: none;
}

.polygon {
    width: 20rem;
    height: 26rem;
    // border: 0.1rem solid #222f3e;
    clip-path: polygon(0% 0%, 25% 20%, 50% 0%, 75% 20%, 100% 0%, 100% 100%, 75% 80%, 50% 100%, 25% 80%, 0% 100%);
}