@import "../../flat-colors";

.sphere {
  border-radius: 50%;
}

.universe {
  background-color: $flat-midnight-blue;
  overflow: hidden;
  display: flex;
	justify-content: center;
  align-items: center;
	width: 100vw;
  height: 100vh;
}
.orbit {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin infinite linear both;
  background-color: transparent;
  border: 0.1vw solid $flat-gray-1;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      width: calc(#{$i} * 4.5vw);
      height: calc(#{$i} * 4.5vw);
    }
  }
}

.planet {
  width: 1.8vw;
  height: 1.8vw;
  transform: translateY(50%);
  display: block;
  position: absolute;
}

#sun {
  width: 3vw;
  height: 3vw;
  background-color: $flat-sunflower;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2vw solid $flat-carrot;
  z-index: 9999 !important;
}

#mercury-planet {
  background-color: $flat-concrete;
}

#venus-planet {
  background-color: $flat-pumpkin;
  top: 0.3vw;
  left: 10.8vw;
}

#earth-planet {
  background-color: $flat-peter-river;
  border: 0.2vw solid $flat-emerald;
  top: 2vw;
  left: 0.5vw;
}

#mars-planet {
  background-color: $flat-pomegranate;
  top: -1.8vw;
  left: 10vw;
}

#jupiter-planet {
  background-color: $flat-pumpkin;
  top: 1vw;
  left: 4.2vw;
}

#saturn-planet {
  background-color: $flat-carrot;
  top: -1vw;
  left: 10vw;
}

#uranus-planet {
  background-color: $flat-wisteria;
  top: 28.5vw;
  left: 4vw;
}

#neptune-planet {
  background-color: $flat-belize-hole;
  top: 12vw;
}

#mercury-orbit {
  animation-duration: 1s;
}

#venus-orbit {
  animation-duration: 2.6s;
}

#earth-orbit {
  animation-duration: 4.1s;
}

#mars-orbit {
  animation-duration: 7.8s;
}

#jupiter-orbit {
  animation-duration: 49.8s;
}

#saturn-orbit {
  animation-duration: 120.3s;
}

#uranus-orbit {
  animation-duration: 348.4s;
}

#neptune-orbit {
  animation-duration: 684.4s;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
