<div class="universe">
  <div id="sun" class="sphere"></div>
  <div id="mercury-orbit" class="sphere orbit">
    <div id="mercury-planet" class="sphere mercury planet"></div>
  </div>
  <div id="venus-orbit" class="sphere orbit">
    <div id="venus-planet" class="sphere venus planet"></div>
  </div>
  <div id="orbit" class="sphere orbit"></div>
  <div id="orbit" class="sphere orbit"></div>
  <div id="orbit" class="sphere orbit"></div>
  <div id="orbit" class="sphere orbit"></div>
  <div id="orbit" class="sphere orbit"></div>
  <div id="orbit" class="sphere orbit"></div>
</div>