@import "../flat-colors";

.sphere {
    border-radius: 50%;
}

#sun {
    width: 4em;
    height: 4em;
    background-color: $flat-sunflower;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.3em solid $flat-carrot;
}

.planet {
    transform: translateY(-50%);
    display: block;
    position: absolute;
}

#mercury-planet {
    width: 1.5em;
    height: 1.5em;
    background-color: $flat-asbestos;
    top: 3.6em;
}

#venus-planet {
    width: 2em;
    height: 2em;
    background-color: $flat-pumpkin;
    top: 5.8em;
}

#earth-planet {
    width: 2.3em;
    height: 2.3em;
    background-color: $flat-peter-river;
    border: 0.3em solid $flat-emerald;
    top: 8.2em;
}

#mars-planet {
    width: 1.2em;
    height: 1.2em;
    background-color: $flat-pomegranate;
    top: 12.5em;
}

#jupiter-planet {
    width: 3em;
    height: 3em;
    background-color: $flat-pumpkin;
    top: 13.3em;
}

#saturn-planet {
    width: 3em;
    height: 3em;
    background-color: $flat-carrot;
    top: 32.5em;
}

#uranus-planet {
    width: 2.8em;
    height: 2.8em;
    background-color: $flat-wisteria;
    top: 19em;
}

#neptune-planet {
    width: 2.8em;
    height: 2.8em;
    background-color: $flat-belize-hole;
    top: 41em;
}


#mercury-orbit {
    animation-duration: 1s;
  }

  #venus-orbit {
    animation-duration: 2.6s;
  }

  #earth-orbit {
    animation-duration: 4.1s;
  }

  #mars-orbit {
    animation-duration: 7.8s;
  }

  #jupiter-orbit {
    animation-duration: 49.8s;
  }

  #saturn-orbit {
    animation-duration: 120.3s;
  }

  #uranus-orbit {
    animation-duration: 348.4s;
  }

  #neptune-orbit {
    animation-duration: 684.4s;
  }

.universe {
    position: relative;
    width: 100%;
    max-width: 700px;
    padding-top: 100%;
}
.orbit {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin infinite linear both;
    background-color: transparent;
    border: 0.1em solid $flat-gray-1;

    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            width: calc(#{$i} * 7em);
            height: calc(#{$i} * 7em);
        }
    }
}

@keyframes spin {
    from {
      transform: translate(-50%, -50%);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }